# PSP fw config file

FIRMWARE_LOCATION      3rdparty/amd_blobs_internal/genoa/PSP

# type                    file
# PSP
AMD_PUBKEY_FILE		Typex0_AmdPubKey.bin
PSPBTLDR_FILE		Typex1_PspBootLoader.bin
PSPRCVR_FILE		Typex3_PspRecBL.bin
PSP_SMUFW1_SUB0_FILE	Typex8_Smu.bin
PSPSECUREDEBUG_FILE	Typex9_DbgKey.bin
PSP_SMUFW1_SUB1_FILE	Typex108_Smu.bin
PSP_SMUFW1_SUB2_FILE	Typex208_Smu.bin
PSP_OEM_ABL_KEY_FILE	Typexa_OemAblKey.bin
PSP_SMUFW2_SUB0_FILE	Typex12_Smu2.bin
PSP_SMUFW2_SUB1_FILE	Typex112_Smu2.bin
PSP_SMUFW2_SUB2_FILE	Typex212_Smu2.bin
PSP_SEC_DEBUG_FILE	Typex13_PspEarlyUnlock.bin
PSP_IKEK_FILE		Typex21_ikek.bin
PSP_TOKEN_UNLOCK_FILE	Typex22_PspTokenUnlockData.bin
PSP_SECG0_FILE		Typex24_SecureGasket.bin
PSP_SECG1_FILE		Typex124_SecureGasket.bin
PSP_SECG2_FILE		Typex224_SecureGasket.bin
PSP_MP5FW_SUB0_FILE	Typex2a_Mp5Fw.bin
PSP_MP5FW_SUB1_FILE	Typex12a_Mp5Fw.bin
PSP_MP5FW_SUB2_FILE	Typex22a_Mp5Fw.bin
PSP_ABL0_FILE		Typex30_PspAgesaBL0.bin
SEV_CODE_FILE		Typex39_SevCode.bin
SEV_DATA_FILE		Typex38_SevData.bin
PSP_DXIOFW_FILE		Typex42_DxioFw.bin
KEYDBBL_FILE		Typex50_PspBlPubKey.bin
SPL_TABLE_FILE		Typex55_BLAntiRB.bin
PSP_MPIOFW_FILE		Typex5d_MPIOOffchipFW.bin
PSP_RIB_FILE		Typex76_RIB.bin
PSP_MPDMATFFW_FILE	Typex8c_MpdmaTfFw.bin
PSP_GMI3PHYFW_FILE	Typex91_Gmi3PhyFw.bin
PSP_MPDMAPMFW_FILE	Typex92_MpdmaPmFw.bin

# BDT
PSP_PMUI_FILE_SUB0_INS3	Typex64_PmuCode.bin
PSP_PMUD_FILE_SUB0_INS3	Typex65_PmuData.bin
PSP_PMUI_FILE_SUB0_INS4	Typex64_PmuCode_1.bin
PSP_PMUD_FILE_SUB0_INS4	Typex65_PmuData_1.bin
