CONFIG_USE_AMD_BLOBS=y
CONFIG_VENDOR_GOOGLE=y
# CONFIG_ONBOARD_VGA_IS_PRIMARY is not set
CONFIG_BOARD_GOOGLE_VILBOZ=y
CONFIG_DRIVERS_AMD_ATOMBIOS=y
CONFIG_MAINBOARD_DO_NATIVE_VGA_INIT=y
CONFIG_PAYLOAD_NONE=y
