# SPDX-License-Identifier: GPL-2.0-only

if BOARD_AMD_ONYX

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select SOC_AMD_GENOA
	select AMD_SOC_CONSOLE_UART
	select HAVE_ACPI_TABLES

config FMDFILE
	default "src/mainboard/amd/onyx/board.fmd"

config MAINBOARD_DIR
	default "amd/onyx"

config MAINBOARD_PART_NUMBER
	default "ONYX"

choice
	prompt "Serial interface"
	default USE_BMC_SOL
	help
	  Onyx has provision for get the serial console logs via BMC
	  or on board usb-serial connector. BMC streams the UART console
	  logs via UART1 and UART0 is routed to on board connector.
config USE_BMC_SOL
	bool "Use BMC SOL"

config USE_ONBORAD_UART
	bool "Use On Board serial"
endchoice

config UART_FOR_CONSOLE
	int
	default 0 if USE_ONBORAD_UART
	default 1 if USE_BMC_SOL

choice
	prompt "Backplanes"
	default AMD_ONYX_BACKPLANES_ALL_PCIE
	help
	  The Onyx board has multiple backplanes option. Select the one matching your board.

config AMD_ONYX_BACKPLANES_ALL_PCIE
	bool "PCIe backplanes on P and G links"

config AMD_ONYX_BACKPLANES_PLINK_SATA
	bool "SATA lanes on P links"

config AMD_ONYX_BACKPLANES_GLINK_SATA
	bool "SATA lanes on G links"

config AMD_ONYX_BACKPLANES_ALL_SATA
	bool "SATA lanes on G and P links"

endchoice

config DEVICETREE
	default "devicetree_all_pcie.cb" if AMD_ONYX_BACKPLANES_ALL_PCIE
	default "devicetree_sata_p_link.cb" if AMD_ONYX_BACKPLANES_PLINK_SATA
	default "devicetree_sata_g_link.cb" if AMD_ONYX_BACKPLANES_GLINK_SATA
	default "devicetree_all_sata.cb" if AMD_ONYX_BACKPLANES_ALL_SATA

endif # BOARD_AMD_ONYX
