# SPDX-License-Identifier: GPL-2.0-only

if BOARD_AMD_ONYX

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select SOC_AMD_GENOA
	select MISSING_BOARD_RESET
	select AMD_SOC_CONSOLE_UART

config FMDFILE
	default "src/mainboard/amd/onyx/board.fmd"

config MAINBOARD_DIR
	default "amd/onyx"

config MAINBOARD_PART_NUMBER
	default "ONYX"

choice
	prompt "Serial interface"
	default USE_BMC_SOL
	help
	  Onyx has provision for get the serial console logs via BMC
	  or on board usb-serial connector. BMC streams the UART console
	  logs via UART1 and UART0 is routed to on board connector.
config USE_BMC_SOL
	bool "Use BMC SOL"

config USE_ONBORAD_UART
	bool "Use On Board serial"
endchoice

config UART_FOR_CONSOLE
	int
	default 0 if USE_ONBORAD_UART
	default 1 if USE_BMC_SOL

endif # BOARD_AMD_ONYX
