menu "AMD OpenSIL configuration"

config AMD_OPENSIL_USE_EXTERNAL_ARCHIVE
	bool "Use external archive"

config AMD_OPENSIL_BIN_PATH
	string "Path to the opensil binary" if AMD_OPENSIL_USE_EXTERNAL_ARCHIVE
	default ""

config AMD_OPENSIL_HEADER_PATH
	string "Path to the opensil base dir" if AMD_OPENSIL_USE_EXTERNAL_ARCHIVE
	default ""

source "$(OPENSIL_DIR)/Kconfig"

endmenu
